* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter Tight;
}


header {
    background-color: red;
    height: 220px;
}
h1 {
    text-align: center;
    color : white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    
}



 img {
    width: 300px;
    border-radius: 5px;
    border: solid white 1px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.2s;
   
}
img:hover {
    transform: translateY(-4px)
}

.card-chararcter-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid white 1px;
    background-color: black;
    color: white;
    gap: 10px;
    padding-bottom: 12px;
    padding-top: 12px;
}
.name {
    font-size: 1.3em;
    font-weight: 700;
}

.active-link {
   
    display: flex;
    justify-content: center;
    color : blanchedalmond;
    text-decoration: none;
    margin-top: 15px;
    font-weight: 700;
        
}

.link {
    
    display: flex;
    justify-content: center;
    color : blanchedalmond;
    text-decoration: none;
    margin-top: 15px;
    font-weight: 700;
}